/* Universal Buttons */


/* Basic white outlined button. */
button { 
    width:auto;
    height:auto;
    padding:1rem;
    margin: auto;
    color: white;
    border:1px solid white;
    cursor: pointer;

}

/* Basic white button focus*/
button:focus {
    background: limegreen;
    border: 3px solid limegreen;
}

/* Basic white button hover state*/
button:hover {
    width:auto;
    height:auto;
    background: #f5cc9f;
    color: #055887;
    border:1px solid white;
    text-emphasis: em; 
}

/* Basic white button active state */
button:active {
    width: auto;
    height: auto;
    background: white;
    color: #055887;
    border:1px solid #055887;
}

/* -------------------------- buttontest page below ------------------------- */

div.buttonMain.static {
    background: transparent;
    
}
