
/* Basic white outlined button. */
button { 
    width:auto;
    height:auto;
    padding:1rem;
    margin: auto;
    color: white;
    border:1px solid white;
    cursor: pointer;

}

/* Basic white button focus*/
button:focus {
    background: limegreen;
    border: 3px solid limegreen;
}

/* Basic white button hover state*/
button:hover {
    width:auto;
    height:auto;
    background: #f5cc9f;
    color: #055887;
    border:1px solid white;
    text-emphasis: em; 
}

/* Basic white button active state */
button:active {
    width: auto;
    height: auto;
    background: white;
    color: #055887;
    border:1px solid #055887;
}

/* -------------------------- buttontest page below ------------------------- */

.container {
    width: 100%;
    display:flex;
    flex-direction: column;
}

/* Extreme change button. Not to be used in any normal capacity. Exercise only. */

.buttonMain {
    background: grey;
    border: 2px solid red;    
}

.buttonMain:hover {
    color: black;
    background: hotpink;
    border: 3px  solid lime;
}

/* Just a really ugly ass button, not sure what I was aiming for here. */

.longButton {
    width: 100%;
    color:lightgreen;
    background:lightblue;
    border:2px solid lightpink;
}

.longButton:hover {
    width: 100%;
    color: black;
    background: lightgreen;
    border: 2px solid lightblue;
}

/* A subtle shadow effect for hover */

.superDuperLongButton:hover {
    color: white;
    background: transparent;
    text-shadow: 2px 2px 4px black;
    box-shadow: 2px 2px 4px black;
}