/* -------------------------------------------------------------------------- */
/*                                 Root Styles                                */
/* -------------------------------------------------------------------------- */

:root {
    width: 100%;
    height: 100%;
    font-family: 'Gilda Display', serif;
    font-family: 'Roboto' sans-serif;
}

/* -------------------------------------------------------------------------- */
/*                            Universal Tag Styles                            */
/* -------------------------------------------------------------------------- */

* {
    background-color: #055887;
    scrollbar-width: none;
    padding: 0;
    padding-left: .5rem;
    margin: 0;
    border: 0;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

button {
    background-color: gray;
    border-radius: 5px;
    border: black;
    border-width: 5px;
    padding: 5px;
    margin: 2px;
}

button:hover {
    background-color: lightslategray;
    border-radius: 5px;
    border: yellow;
    border-width: 5px;
    padding: 5px;
    margin: 2px;
}

button:active {
    background-color: lime;
    border-radius: 5px;
    border: black;
    border-width: 5px;
    padding: 5px;
    margin: 2px;
}

em {
    background-color: inherit;
}

.whiteSpace50 {
    width: 100%;
    height: 50px;
}
/* -------------------------------------------------------------------------- */
/*                              Specialized Tags                              */
/* -------------------------------------------------------------------------- */

.projectBox {
    background-color: white;
    border: 3px solid lightgrey;
    width: 95%;
    height: 100%;
}

.projectBox h3 {
    background-color: inherit;
    padding: 1em;
}

.projectBox p {
    background-color: inherit;
    padding: inherit;

}


