/* -------------------------------------------------------------------------- */
/*                                 Root Styles                                */
/* -------------------------------------------------------------------------- */

:root {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poiret One', cursive;
}

/* ----------------------------- End Root Styles ---------------------------- */


/* -------------------------------------------------------------------------- */
/*                            Universal Tag Styles                            */
/* -------------------------------------------------------------------------- */

body {
    margin: 0;
    padding: 0;
    border: 0;
}

 a {
     font-family: 'Poiret One', cursive;
     color: black; 
     margin:.5em; 
     text-decoration: none;
}
 
 a:hover {
     color:#237297;  
 }

/* ------------------------- End Universal Grab-bag ------------------------- */


/* -------------------------------------------------------------------------- */
/*                                NavBar Styles                               */
/* -------------------------------------------------------------------------- */

.nav {
    background: white;
    padding: 2em;
    color: #000;
    text-align: right;
    height: 50px;
    font-size: 24px;
    font-family: 'Poiret One', cursive;
}


/* ---------------------------- End Navbar Styles --------------------------- */

.title {
    background: #237297;
    color: #ffffff;
    text-shadow: 3px 3px 8px #000000;
    font-family: 'Poiret One', cursive; 
    font-size: 48px; 
    text-align: center; 
    width: 1fr; 
    margin: 0; 
    padding-top:50px;
    height: 150px;
}

.content {

    display: grid;
    padding: 2rem;
    width: 1fr;
    grid-template-columns: 50% 1fr;
    grid-template-rows: auto;
    grid-gap: 5em;
    text-align: justify;
}

.columnLeft {
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: auto;
}

.columnRight {
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: auto;
}

.columnPhoto {
    width: 1fr;
    grid-column: 2;
    grid-row: auto;
}

p {
    width:100%;
    line-height: 2rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-indent: 3ch;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size:36px;
    font-style: italic;
    text-align: left;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

img {
    width: 100%;
    height: auto;
    border: black solid 2px;
    overflow: hidden;
}

.footer {
    display: grid;
    grid-template-columns: (1fr);
    text-align:center; 
    font-family: 'Poiret One', sans-serif;
    background: linear-gradient(darkgrey, #000000);
    color: white; 
    height:50px;
    margin-left: auto; 
    margin-right: auto;
    padding:2em;
}