/* -------------------------------------------------------------------------- */
/*                                 Root Styles                                */
/* -------------------------------------------------------------------------- */

:root {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poiret One', cursive;
}

/* ----------------------------- End Root Styles ---------------------------- */



/* -------------------------------------------------------------------------- */
/*                            Universal Tag Styles                            */
/* -------------------------------------------------------------------------- */

* {
    padding: 0.25em;
    margin: 0;
    border: 0;
}

h1 {
    font-family: 'Poiret One', sans-serif; 
    font-size: 3rem;
}

h2 {
    font-family: 'Poiret One' sans-serif;
    text-align: left;
    font-size: 2rem;

}

h3 b {
    font-family: 'Poiret One' sans-serif;
    font-size: 1.28rem;

}

/* ------------------------- End Universal Grab-bag ------------------------- */


/* -------------------------------------------------------------------------- */
/*                          Responsive NavBar Styles                          */
/* -------------------------------------------------------------------------- */

.nav {
    font-family: 'Poiret One';
    overflow: hidden;
}

.nav a {
    float: left;
    text-align: center;
    margin: .5em;
    text-decoration: none;
    font-size: xx-large;
}

.nav a:hover {
    color: #34aadc;
    border-bottom: olive;
    border-width: 3px;
}


/* ---------------------- End Responsive NavBar Styles ---------------------- */


/* -------------------------------------------------------------------------- */
/*                    Information Column and Content Styles                   */
/* -------------------------------------------------------------------------- */

.caption {
    font-size:small;
    text-align: center;
}

.cover_photo { /* Banner cover photo */
    object-fit: cover; 
    width: 100%;
}
