/* -------------------------------------------------------------------------- */
/*                                 Root Styles                                */
/* -------------------------------------------------------------------------- */

:root {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poiret One', cursive;
}

/* ----------------------------- End Root Styles ---------------------------- */


/* -------------------------------------------------------------------------- */
/*                     @media calls for Responsive Design                     */
/* -------------------------------------------------------------------------- */

@media screen and (max-width:768px) {
    .nav a:not(:first-child) {display:none;}
    .nav a.icon {
        float:right;
        display:block;
    }
}

@media screen and (max-width: 360px) {
    .nav.responsive {position:relative;}
    .nav.responsive a.icon {
        position:adsolute;
        right:0;
        top:0;
    }
    .nav.responsive a {
        float:none;
        display:block;
        text-align: left;
    }
}

/* --------------------------- End of @media calls -------------------------- */


/* -------------------------------------------------------------------------- */
/*                            Universal Tag Styles                            */
/* -------------------------------------------------------------------------- */

* {
    background-color: #055887;
    scrollbar-width: none;
    padding: 0;
    margin: 0;
    border: 0;
}

h1 {
    font-family: 'Poiret One', sans-serif; 
    font-size: xx-large;
    text-shadow: 3px 3px 3px #000000 ;
}

h2 {
    font-family: 'Poiret One';
    text-align: center;
    font-size: larger;
    color:#ffffff;
    text-shadow: 3px 3px 3px #000000 ;
}

h3 b {
    font-family: 'Poiret One';
    font-size: large;
    color: white;
}

ul {
    font-family: 'Open Sans',sans-serif;
    color: white;
    text-align: justify;
    font-size: small;
    list-style-type: none;   
} 

li {
    font-family: 'Open Sans',sans-serif;
    color: #f5cc9f;
    text-align: justify;
    font-size: small;
    list-style-type: none;   
} 

p {
    font-family: 'Open Sans',sans-serif;
    color: white;
    text-align: justify;
    font-size: small;
    list-style-type: none;
    text-indent: 2em;
}

/* ------------------------- End Universal Grab-bag ------------------------- */


/* -------------------------------------------------------------------------- */
/*                          Responsive NavBar Styles                          */
/* -------------------------------------------------------------------------- */

.nav {
    background-color: #055887;
    font-family: 'Poiret One';
    overflow: hidden;
}

.nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 0;
    margin: .5em;
    text-decoration: none;
    font-size: xx-large;
}

.nav a:hover {
    color: #f5cc9f;
    text-decoration: none;
    text-shadow: 3px 3px 3px #000000 ;
}

.nav .icon {
    display: none;
}

/* ---------------------- End Responsive NavBar Styles ---------------------- */


/* -------------------------------------------------------------------------- */
/*                    Portfolio Body Grid Classes                             */
/* -------------------------------------------------------------------------- */

.img1 { /* Horizontal Images */
    box-shadow: 3px 3px 8px black; 
    height: auto;
    background-color: transparent;

}

.img2 { /* Vertical Images */
    box-shadow: 3px 3px 8px black; 
    width: auto;
    background-color: transparent;
}


/* -------------------------- End of Portfolio Cls -------------------------- */


/* -------------------------------------------------------------------------- */
/*                    Information Column and Content Styles                   */
/* -------------------------------------------------------------------------- */

.cover_photo { /* Banner cover photo */
    object-fit: cover; 
    width: 100%;
}


.card_grid { /* Card Grid Controls */
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    padding: 2rem;
}


.column1 {
    padding: 0;
}

.content {
    line-height: 2em;
}

.li1 { /* Aa fake paragraph class that mimics how the paragraph would be normally laid out */
    text-indent: 2em;
    line-height: 2.5em;
}

.btn a { /* Basic site-wide button tag attributes */
    margin:2px;
    color: white;
    background-color: dimgray;
    border-radius:black solid 1px;
}


.row:after { 
    content:"";
    display:table;
    clear:both;
}


/* --------------------- End of Info Column and Content --------------------- */


/* -------------------------------------------------------------------------- */
/*                                Footer Style                                */
/* -------------------------------------------------------------------------- */

.footer {
    display: grid;
    grid-template-columns: (1fr);
    text-align:center; 
    font-family: 'Poiret One', sans-serif; 
    color: white; 
    height:0;
    margin-left: auto; 
    margin-right: auto;
    padding:2em;
}

.footer p {
    text-align: center;
}

/* ---------------------------- End Footer Styles --------------------------- */