/* -------------------------------------------------------------------------- */
/*                                 Main Styles                                */
/* -------------------------------------------------------------------------- */

body {
    background: whitesmoke;
}

/* --------------------------- Main Section Class --------------------------- */

.comment-input {
    float: left;
    width: 50%;
}
.comments {
    float: right;
    width: 50%;
    text-align: left
}
.comments p:nth-child(even) {
    background: lavender
}

.comments p:nth-child(odd) { 
    background: gainsboro;
}

.comment-input span:hover {
    cursor: pointer;
}